<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!--    <classPathEntry-->
    <!--            location="/Users/changfeng/.m2/repository/mysql/mysql-connector-java/8.0.19/mysql-connector-java-8.0.19.jar"/>-->


    <context id="daily1" targetRuntime="MyBatis3">
        <plugin type="org.mybatis.generator.plugins.FluentBuilderMethodsPlugin"/>
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"/>

        <!--不要注释-->
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!-- 配置数据库连接 driverClass="org.gjt.mm.mysql.Driver" -->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://rm-bp11d50m31tbdlv0h2o.mysql.rds.aliyuncs.com:3306/qamanager"
                        userId="muyi"
                        password="k2Tp4SF834phWKO1">
        </jdbcConnection>

        <!-- 生成模型-model-的包名和位置-->
        <javaModelGenerator targetPackage="com.muyi.bigMonster.model.daily1"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- 生成映射文件-Mapper.xml-的包名和位置-->
        <sqlMapGenerator targetPackage="mapper.daily1"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- 数据访问对象-DAO-Java Mapper-生成的包名和位置-->
        <javaClientGenerator type="ANNOTATEDMAPPER"
                             targetPackage="com.muyi.bigMonster.mapper.daily1"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="diff_coverage_report"/>

    </context>

    <!--daily2drds数据源-->
    <context id="daily2drds" targetRuntime="MyBatis3">
        <plugin type="org.mybatis.generator.plugins.FluentBuilderMethodsPlugin"/>
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"/>

        <!--不要注释-->
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!-- 配置数据库连接 driverClass="org.gjt.mm.mysql.Driver" -->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://drdshbga3gjsy83cpublic.drds.aliyuncs.com:3306/promotion_platform"
                        userId="muyi"
                        password="k2Tp4SF834phWKO1">
        </jdbcConnection>

        <!-- 生成模型-model-的包名和位置-->
        <javaModelGenerator targetPackage="com.muyi.bigMonster.model.daily2drds"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- 生成映射文件-Mapper.xml-的包名和位置-->
        <sqlMapGenerator targetPackage="mapper.daily2drds"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- 数据访问对象-DAO-Java Mapper-生成的包名和位置-->
        <javaClientGenerator type="ANNOTATEDMAPPER"
                             targetPackage="com.muyi.bigMonster.mapper.daily2drds"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="p_buyer_resource"/>

    </context>

</generatorConfiguration>
