<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--定义参数 log文件根目录-->
    <property name="LOGS" value="./logs"/>

    <!--server log dir:/logs/qa-big-monster-->
<!--    <property name="LOGS" value="/logs/qa-big-monster"/>-->

    <property name="pattern"
              value="[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%10.10t] [%X{sentryTraceId}] [%c{1}.%M] Line:[%L] - %m%n"/>

    <!--控制台日志输出-->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <!-- 标准日志输出 -->
    <appender name="Standard" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOGS}/logger.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志滚动策略 按天(yyyy-MM-dd)，文件最大10MB -->
            <fileNamePattern>${LOGS}/logger.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>

        </rollingPolicy>
    </appender>

    <!-- 出错日志输出  -->
    <appender name="Error" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!-- 日志输出路径和名称 -->
        <File>${LOGS}/error.log</File>

        <!--日志滚动策略 按天(yyyy-MM-dd)，保留7天-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOGS}/error.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>${pattern}</Pattern>
        </encoder>

        <!-- 只打印错误日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="Standard"/>
        <appender-ref ref="Error"/>
    </root>

    <!-- LOG "com.baeldung*" at TRACE level -->
    <logger name="com.muyi.webtools" level="trace" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="Standard"/>
        <appender-ref ref="Error"/>
    </logger>

</configuration>
